.categories {
  height: 500px;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0;
  background-color: white;
  padding: 0;
}

[class^="category-"] {
  height: 220px;
  display: block;
  margin: auto;
  width: 1000px;
  margin: auto;
  padding: 0;
  background-color: white;
  margin: 5px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.category-post {
  height: 150px;
  width: 150px;
  margin: 10px;
  background-color: #ccc;
}
