.most-recent-post {
  background-color: white;
  width: 100%;
}

.post {
  height: 100%;
  width: 500px;
  background-color: white;
  margin: auto;
}

img {
  min-height: 500px;
  width: 500px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}
